# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [ ]:
a = 28
b = 28
value = a == b
memory = a is b
print('Are values equal? ',value)
print('Are memories equals? ', memory)

Are values equal?  True
Are memories equals?  True

Цілі числа на проміжку від -5 до 256 зарезервовані в Python, тож дві змінні з однаковими значеннями в цьому діапазоні посилаються на один об'єкт пам'яті та мають спільний id.

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [ ]:
a = 75
b = True;

a_test = isinstance(a, bool)
b_test = isinstance(b, int)

print('Is 75 bool? ',a_test)
print('Is True int? ',b_test)

Is 75 bool?  False
Is True int?  True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [ ]:
a = 44.5
b = 3.5
sum = a + b
subtract = a - b
div = a/b
multiply = a*b
div2 = a//b
div_mod = a%b
degree = a**b

print("Додавання: ", sum)
print("Віднімання: ", subtract)
print("Ділення: ", div)
print("Множення: ", multiply)
print("Ділення без залишку: ", div2)
print("Ділення по модулю: ", div_mod)
print("Приведення до ступеню: ", degree)

Додавання:  48.0
Віднімання:  41.0
Ділення:  12.714285714285714
Множення:  155.75
Ділення без залишку:  12.0
Ділення по модулю:  2.5
Приведення до ступеню:  587841.2233514424

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [ ]:
a_int = int(a);
bool_int = int(True);
print(a_int, bool_int)

44 1

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [ ]:
empty_str1 = '';
empty_str2 = str();

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [ ]:
not_raw_str = "\'"
raw_str = r"\'"
print('String: ', not_raw_str)
print('Raw string: ', raw_str)

String:  '
Raw string:  \'

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [ ]:
surname = 'Kviatkovskyi'
format_string = f"My surname is {surname}"
print(format_string)

My surname is Kviatkovskyi

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [ ]:
crazy_dog = 'My dog is crazy.'
crazy_dog_split = crazy_dog.lower().split()
print(crazy_dog_split)

['my', 'dog', 'is', 'crazy.']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = list((5, 4, 3, 2, 1))
print(len(list1))

5

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [5, 4, 3, 2, 1]
list1.append(list2)
print(list1)

[1, 2, 3, 4, 5, [5, 4, 3, 2, 1]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [ ]:
big_list = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
last_list = big_list[-1]
element = last_list[0];
print(element)

7

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [ ]:
huge_list = [21, 2.1, True, 'love', ['does', 'not', 'know', 'borders'], 31, 8, 31.8, 'bubu', 5];
cropped_list = huge_list[2:-2]
print(cropped_list)

[True, 'love', ['does', 'not', 'know', 'borders'], 31, 8, 31.8]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [ ]:
single_tuple = ('tuple')

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Схожості:
Є колекціями;
Підтримують індексацію;
Можливий слайснинг;
Підтримують вкладеність;

Відмінності:
Списки є мутабельними, кортежі - ні;
Списки споживають більше пам'яті;
Списки творяться через [], а списки - через();

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [ ]:
long_tuple = (1.1, 2.2, 3.3, 4.4, 5.5, 6.6, 7.7, 8.8, 9.9, 1.9, 9.1)
result_tuple = long_tuple[9::-2]
print(result_tuple)

(1.9, 8.8, 6.6, 4.4, 2.2)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [ ]:
empty_set = set()
empty_set.add(1)
empty_set.add(5.12)
empty_set.add('kiki')
print(empty_set)

{1, 5.12, 'kiki'}

Так, є

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [ ]:
repeating_list = [1, 1, 2, 67, 67, 8, 9]
new_set = set(repeating_list)
print(new_set)

{1, 2, 67, 8, 9}

Тому що в множині елементи унікальні

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [ ]:
A = {1, 2, 3, 4, 5}
B = {3, 4, 5, 6, 7}
union = A.union(B)
difference = A.difference(B)
intersection = A.intersection(B)
symmetric_difference = A.symmetric_difference(B)
print(union, difference, intersection, symmetric_difference)

{1, 2, 3, 4, 5, 6, 7} {1, 2} {3, 4, 5} {1, 2, 6, 7}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [ ]:
dictionary = {}
dictionary[1] = 'one'
dictionary['two'] = 2
dictionary[1.5] = True
dictionary[True] = 1
print(dictionary)

{1: 1, 'two': 2, 1.5: True}

Список є mutable, тому не може бути ключем

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [ ]:
multidict = {
    1 : 'Boo',
    2 : {
        3 : 'Doo',
        4 : {
            5 : 'Foo',
            6 : 'Moo'
        }
    }
}
secret = multidict[2][4][6]
print(secret)

Moo

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.